/* БОКОВОЕ МЕНЮ */
.sidebar {
  position: fixed;
  top: 0;
  left: -300px;       /* полностью спрятано */
  width: 250px;
  height: 100vh;
  background: #333;
  color: white;
  padding: 20px;
  transition: left 0.3s ease;
  z-index: 900;       /* ниже header! */
}

/* МЕНЮ ВЫЕЗЖАЕТ */
#nav-toggle:checked ~ .sidebar {
  left: 0;
}

/* КНОПКА ОТКРЫТИЯ */
.menu-btn {
  position: fixed;
  top: 20px;
  left: 20px;
  background: #333;
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  z-index: 1100;     /* поверх header, чтобы всегда была видна */
}

/* КНОПКА ЗАКРЫТИЯ */
.close-btn {
  display: block;
  text-align: right;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

/* ЛОГО */
.nav-logo {
  margin-top: 40px;
  margin-bottom: 25px;
}

.nav-logo a {
  color: white;
  text-decoration: none;
  font-size: 22px;
}

/* Список */
.sidebar ul {
  list-style: none;
  margin-top: 20px;
}

.sidebar ul li {
  margin-bottom: 15px;
}

.sidebar ul li button {
  width: 100%;
  padding: 10px;
  background: #444;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.sidebar ul li button:hover {
  background: #555;
}
