.page {
  transition: margin-left 0.3s ease;
  padding-top: 70px; /* чтобы header не перекрывал контент */
}

/* КОГДА МЕНЮ ОТКРЫТО — КОНТЕНТ СДВИГАЕТСЯ */
#nav-toggle:checked ~ .page {
  margin-left: 250px;
}

main {
  padding: 20px;
}
